@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
* {
    margin: 0px;
    padding:0px;
}
    .logo {
       border: solid;
       border-color: black;
       height:100px;
       width: 100px;
       margin: 20px;
       }

 .navBar{
 font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 font-weight: bold;
font-size: large;
 }
 nav {
  background-color: whitesmoke ;
}
header {
    background-color:lightblue;
    margin: 1px 1px 1px 1px;
}
.container{
  margin-left: 1000px;
}
.inputHeader {
text-align: center;
margin-left: 400px;
width: 35%;
}

.article {
    font-family: 'Quicksand', sans-serif;
    color: black;
     background-color: whitesmoke;
    border: black solid;
   }

.imgHeader{
    height: 350px;
    width: 100%;
    border: solid black;  
    margin: 2px 2px 2px 2px; 
}

.textDiv {
    border: black solid;
   background-color: lightblue;
   padding: 10px 10px 10px 10px;
   margin: 2px 2px 2px 2px;  
} 
.text1 {
    font-size: 3rem;
    font-family: 'Anton', sans-serif;
    padding: 15px 15px 15px 15px ;
    margin: 10px 10px 10px 10px;
    background-color: whitesmoke;
     border: double black ;
} 

.imgIphone{
    align-items: stretch;
    height: 568px;
    width: 100%;  
    border-style: double;
    border-color: black;
    margin: 2px 2px 2px 2px;
    padding: 2px 2px 2px 2px;
}

.boxModelTable {
    color: black;
background-color:lightblue;
width:95%;
height: 100px;
margin-top: 15px 15px 15px 15px;
border-style: double;
border-color: black;
text-align: center;
}
.tableMedio,.tableEnvios, .tableDevoluciones  {
    border-style:double;
    border-width: 1px;
    border-color: black;
    font-family: 'Anton', sans-serif;
 }   
.card-body{
  margin: 10px 10px 10px 10px;
}
 .card{
    margin:7px 7px 7px 7px ;
 }

.marca {
    width: 90%;
    border-style: solid;
    border: 2px 2px 2px 2px;
    border-color: black;
    margin: 30px 30px 30px 100px;
  }
.formulario {
    margin: 10px 10px 10px 10px;
    padding: 5px 10px 15px 20px;
    border-style: solid;
    border-color: black;
 border-radius:  2px 2px 2px 2px;
}
 .imgContacto {
height: 150px;
width: 100%;
margin: 30px 30px 30px ;
border-style: solid;
border-width: 2px;
border-color: black;
 }

.imgVenta{
    height: 300px;
    width: 300px ;
    color: black;
    background-color:white;
    margin: 10px 10px 10px 10px;
    padding: 3px 3px 3px 3px;
    border-style: solid;
    border-color: lightblue;
    text-align: center;
}
.imgVenta{
    background-color:lightblue;
    border: solid 1px;
    overflow: hidden;
    margin: 20px;
}
.imgVenta{
transition: 0,5s;
object-fit: cover;
} 
.imgVenta:hover {
  transform: scale(1.2) ;
}
.boxModelVenta {
  color: black;
  background-color:lightblue;
  margin: 10px 10px 10px 10px;
  border-style: solid;
  border-color: black;
  text-align: center;
  font-family:fantasy;
}
.descripcion {
    color: black;
    text-align: center;
    background-color: white;
    font-family: 'Kanit', sans-serif
}
.titulo {
    color: black;
    background-color:white;
    margin: 2px 2px 2px 2px; 
    border-style: solid;
    border-color: lightblue;
    text-align: center;
    background-image: linear-gradient(to left,lightblue,whitesmoke, white);
}
.main-content{
  display: flex;
}
.main-content .box{
  flex-basis: 50%;
  padding: 10px 20px;
}
.box h2{
  font-size: 1.125rem;
  font-weight: 600;
  text-transform: uppercase;
}
.box .content{
  margin: 20px 0 0 0;
  position: relative;
}

.box .content:after{
  position: absolute;
  content: '';
  height: 2px;
  width: 15%;
  background: lightblue;
  top: -10px;
}

.left .content .social a span{
  height: 40px;
  width: 40px;
  background: white;
  line-height: 40px;
  text-align: center;
  font-size: 18px;
  border-radius: 5px;
  transition: 0.3s;
}
.left .content .social a span:hover{
  background: lightblue;
}
.center .content .fas{
  font-size: 1.4375rem;
  background: #1a1a1a;
  height: 45px;
  width: 45px;
  line-height: 45px;
  text-align: center;
  border-radius: 50%;
  transition: 0.3s;
  cursor: pointer;
}
.center .content .fas:hover{
  background: lightblue;
}
.center .content .text{
  font-size: 1.0625rem;
  font-weight: 500;
  padding-left: 10px;
}
.bottom {
background-color: lightblue;
text-align: center;
}

header {
    grid-area: header;
}

nav {
    grid-area: nav;
}
section {
    grid-area: section;
}
aside {
    grid-area: aside;
}

footer {
    grid-area: footer;
}

#reparacion, #accesorios, #maquinas  {
    display: grid;  
    grid-template-columns: auto;
    grid-template-rows: 10% 10% auto 15%;
    column-gap: 5px;
    row-gap: 5px;
    grid-template-areas: "header header" "nav nav" "aside section" "footer footer";
  }
  .sectionReparacion, .sectionAccesorios, .sectionMaquinas {
    display: grid;
      grid-template-columns: repeat(2,auto);
      grid-template-rows: repeat(4,auto);
      text-align: center;
    }
      .sectionReparacion, .sectionAccesorios, .sectionMaquinas,.sectionIndex, .asideIndex,.sectionContacto   {
      display: flex;
      flex-wrap: wrap;    
      align-items: stretch;
      }

      #asideReparacion, #asideAccesorios, #asideMaquinas {
          color: black;
          background-color:lightblue;
          margin: 1px 1px 1px 1px;
          border-style: solid;
          border-color: black;
          text-align: center;  
      }
 
      #index{
        display: grid;  
grid-template-columns: auto auto;
grid-template-rows: 6% 20% auto  auto;
column-gap: 5px;
             row-gap: 5px;
        grid-template-areas: "header header" "nav nav" "aside section"  "footer footer";
                }
                .sectionIndex{
                    display: grid;
                      grid-template-columns: repeat (auto);
                      grid-template-rows: repeat(1,auto);
                      border-style: solid;
                      border-color: lightblue;
                      text-align: center;
                    }
                     
                        .asideIndex {
                            color: black;
                            background-color:lightblue;
                            border-style: solid;
                            border-color: black;
                            text-align: center;  
                        }  
                    
          #contacto{
                            display: grid;  
                    grid-template-columns: auto;
                    grid-template-rows: 10% 15% auto auto;
                    column-gap: 5px;
                    row-gap: 5px;
                    grid-template-areas: "header" "nav" "section" "footer";   
                        }
                        .sectionContacto{
                            display: grid;
                              grid-template-columns:auto;
                              grid-template-rows: auto;
                              margin: 2px 2px 2px 2px;
                              padding:2px 2px 2px 2px ;
                            }
                            
                            @media screen and (min-width: 100px) and (max-width: 768px) {
                                #index{
                                    display: grid;  
                                    grid-template-columns: auto;
                                    grid-template-rows: 5% 11% 15% auto;
                                    column-gap: 5px;
                                    row-gap: 5px;
                                    grid-template-areas: "header" "nav" "section" "footer";
                         }
                        .sectionIndex{
                         display: grid;
                         grid-template-columns: repeat (auto);
                        grid-template-rows: repeat(1,auto);
                        border-style: solid;
                        border-color: lightblue;
                        text-align: center;
                        }
                        .inputHeader {
                            align-items: center;
                             width: 50%;
                             margin: 1px 1px 1px 1px;
                             } 
                             .text1 {
                              font-size: 1.5rem;
                              font-family: 'Times New Roman', Times, serif;
                              padding: 6px 6px 6px 6px ;
                              margin: 2px 2px 2px 2px; 
                          }               

                        #asideIndex, .marca, .imgContacto, .boxModelTable,  .sectionIndex{
                         display: none;
                        }
                        }

     @media screen and (min-width: 1200px) {
        #index{
            display: grid;  
grid-template-columns: auto auto;
grid-template-rows: 6% 20% auto  auto;
column-gap: 5px;
                 row-gap: 5px;
            grid-template-areas: "header header" "nav nav" "aside section"  "footer footer";
             }
            .sectionIndex{
                display: grid;
                  grid-template-columns: repeat (auto);
                  grid-template-rows: repeat(1,auto);
                  border-style: solid;
                  border-color: lightblue;
                  text-align: center;
                }

                    .asideIndex {
                        color: black;
                        background-color:lightblue;
                        border-style: solid;
                        border-color: black;
                        text-align: center;  
                    }  
                    .sectionIndex,  .asideIndex {
                            display: flex;
                            flex-wrap: wrap;    
                            align-items: center;
                            }
                            
                                #asideIndex,.marca, .imgContacto, .boxModelTable .sectionIndex{
                                 display: block;
                                }
                                 
                                }
                    
    @media screen and (min-width: 100px) and (max-width: 768px) {
    #reparacion{
    display: grid;  
    grid-template-columns: auto;
    grid-template-rows: 3% 2% auto auto;
    column-gap: 5px;
    row-gap: 5px;
    grid-template-areas: "header" "nav" "section" "footer";
  }
    .sectionReparacion {
    display: grid;
    grid-template-columns: repeat(auto);
    grid-template-rows: repeat(auto);
    text-align: center;
    justify-content: center;
    }
    .inputHeader {
        align-items: center;
         width: 50%;
         margin: 1px 1px 1px 1px;
         }
       
  .sectionReparacion  {
   display: flex;
   flex-wrap: wrap;    
    align-items: stretch;
   }
  
.container{
    margin-left: 10px;
}
    .asideReparacion{
     display: none;
    }
    }
                
    @media screen and (min-width: 1200px) {
    #reparacion{
    display: grid;  
    grid-template-columns: auto;
    grid-template-rows: 5% 3% auto auto;
    column-gap: 5px;
    row-gap: 5px;
    grid-template-areas: "header header" "nav nav" "aside section" "footer footer";
    }
    .sectionReparacion {
    display: grid;
    grid-template-columns: repeat(2,auto);
    grid-template-rows: repeat(4,auto);
 
    justify-content: center;
    }
    .sectionReparacion  {
    display: flex;
    flex-wrap: wrap;    
    align-items: stretch;
    }
  
    .asideReparacion {
        color: black;
        background-color:lightblue;
        margin: 1px 1px 1px 1px;
        border-style: solid;
        border-color: black;
        text-align: center;  
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
        padding: 10px 10px 10px 10px;
        font-weight: bold;
    }
    .asideReparacion {
    display: block;
     }
    }

    @media screen and (min-width: 100px) and (max-width: 768px) {
        #accesorios {
        display: grid;  
        grid-template-columns: auto;
        grid-template-rows: 3% 2% auto auto;
        column-gap: 5px;
        row-gap: 5px;
        grid-template-areas: "header" "nav" "section" "footer";
        }
        .sectionAccesorios {
        display: grid;
        grid-template-columns: repeat(auto);
        grid-template-rows: repeat(auto);
        justify-content: center;
        text-align: center;
        }
        .container{
            margin-left: 10px;
        }
      .sectionAccesorios  {
       display: flex;
       flex-wrap: wrap;    
        align-items: stretch;
       }
       .imgVenta{
        height: 270px;
        width: 270px ;
        color: black;
        background-color:white;
        margin: 5px 5px 5px 5px;
        padding: 3px 3px 3px 3px;
        border-style: solid;
        border-color: lightblue;
        text-align: center;  
       }
       .inputHeader {
        align-items: center;
         width: 50%;
         margin: 1px 1px 1px 1px;
         }
        #asideAccesorios {
        color: black;
        background-color:lightblue;
        margin: 1px 1px 1px 1px;
        border-style: solid;
        border-color: black;
        text-align: center;  
        font-family:fantasy ;
         }
       
        #asideAccesorios{
         display: none;
        }
        }
                    
        @media screen and (min-width: 1200px) {
        #accesorios{
        display: grid;  
        grid-template-columns: auto;
        grid-template-rows: 5% 3% auto auto;
        column-gap: 5px;
        row-gap: 5px;
        grid-template-areas: "header header" "nav nav" "aside section" "footer footer";
        }
        .sectionAccesorios {
        display: grid;
        grid-template-columns: repeat(2,auto);
        grid-template-rows: repeat(4,auto);
        justify-content: center;
        text-align: center;
        }
        .sectionAccesorios  {
        display: flex;
        flex-wrap: wrap;    
        align-items: stretch;
        }
        #asideAccesorios {
          color: black;
          background-color:lightblue;
          margin: 1px 1px 1px 1px;
          border-style: solid;
          border-color: black;
          text-align: center;  
          font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
          padding: 10px 10px 10px 10px;
          font-weight: bold;
        }
    
        #asideAccesorios {
        display: block;
         }
        }
        @media screen and (min-width: 100px) and (max-width: 768px) {
            #maquinas {
            display: grid;  
            grid-template-columns: auto;
            grid-template-rows: 3% 2% auto auto;
            column-gap: 5px;
            row-gap: 5px;
            grid-template-areas: "header" "nav" "section" "footer";
            }
            .sectionMaquinas {
            display: grid;
            grid-template-columns: repeat(auto);
            grid-template-rows: repeat(auto);
            justify-content: center;
            text-align: center;
            }
          .sectionMaquinas  {
           display: flex;
           flex-wrap: wrap;    
            align-items: stretch;
           }
           .inputHeader {
           align-items: center;
            width: 50%;
            margin: 1px 1px 1px 1px;
            }
            .container{
                margin-left: 10px;
            }
           
            #asideMaquinas {
            color: black;
            background-color:lightblue;
            margin: 1px 1px 1px 1px;
            border-style: solid;
            border-color: black;
            text-align: center;  
            font-family:fantasy ;
             }
           
            #asideMaquinas{
             display: none;
            }
            }
                        
            @media screen and (min-width: 1200px) {
            #maquinas{
            display: grid;  
            grid-template-columns: auto;
            grid-template-rows: 6% 4% auto auto;
            column-gap: 5px;
            row-gap: 5px;
            grid-template-areas: "header header" "nav nav" "aside section" "footer footer";
            }
            .sectionMaquinas {
            display: grid;
            grid-template-columns: repeat(2,auto);
            grid-template-rows: repeat(4,auto);
            justify-content: center;
            text-align: center;
            }
            .sectionMaquinas  {
            display: flex;
            flex-wrap: wrap;    
            align-items: stretch;
            }
            #asideMaquinas {
              color: black;
              background-color:lightblue;
              margin: 1px 1px 1px 1px;
              border-style: solid;
              border-color: black;
              text-align: center;  
              font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
              padding: 10px 10px 10px 10px;
              font-weight: bold;
            }
          
            #asideMaquinas {
            display: block;
             }
            }
            
  @media screen and (min-width: 100px) and (max-width: 768px) {
            #contacto {
            display: grid;  
            grid-template-columns: auto;
            grid-template-rows: 10% 8% auto auto;
            column-gap: 5px;
            row-gap: 5px;
            grid-template-areas: "header" "nav" "section" "footer";
            }
          }
          .sectionContacto {
            display: grid;
            grid-template-columns: repeat(auto);
            grid-template-rows: repeat(auto);
          }
          @media screen and (min-width: 100px) and (max-width: 768px) {
                footer{
                  position: relative;
                  bottom: 0px;
                }
                .main-content{
                  flex-wrap: wrap;
                  flex-direction: column;
                }
                .main-content .box{
                  margin: 5px 0;
                }
              }
      
      