@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@300;400&display=swap");
@media screen and (min-width: 100px) and (max-width: 768px) {
  #index {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 3% 22% auto 15%;
    -moz-column-gap: 5px;
         column-gap: 5px;
    row-gap: 5px;
    grid-template-areas: "header" "nav" "section" "footer";
  }
  .sectionIndex {
    display: grid;
    grid-template-columns: repeat auto;
    grid-template-rows: repeat(1, auto);
    border-style: solid;
    border-color: lightblue;
    text-align: center;
  }
  .asideIndex {
    color: black;
    background-color: lightblue;
    border-style: solid;
    border-color: black;
    text-align: center;
  }
  .sectionIndex, .asideIndex {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
  }
  .inputNav {
    display: flex;
    align-content: center;
    margin: 1px 1px 1px 1px;
  }
  #asideIndex, .sectionIndex {
    display: none;
  }
}
@media screen and (min-width: 100px) and (max-width: 768px) {
  #reparacion {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 3% 5% auto 15%;
    -moz-column-gap: 5px;
         column-gap: 5px;
    row-gap: 5px;
    grid-template-areas: "header" "nav" "section" "footer";
  }
  .sectionReparacion {
    display: grid;
    grid-template-columns: repeat(auto);
    grid-template-rows: repeat(auto);
    border-style: double;
    border-color: lightblue;
    text-align: center;
    justify-content: center;
  }
  .sectionReparacion {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
  }
  .boxModelVenta {
    color: black;
    background-color: white;
    margin: 1px 1px 1px 1px;
    border-style: solid;
    border-color: lightblue;
    text-align: center;
    font-family: fantasy;
  }
  #asideReparacion {
    color: black;
    background-color: lightblue;
    margin: 1px 1px 1px 1px;
    border-style: solid;
    border-color: black;
    text-align: center;
  }
  #asideReparacion {
    display: none;
  }
}
@media screen and (min-width: 100px) and (max-width: 768px) {
  #accesorios {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 3% 5% auto 15%;
    -moz-column-gap: 5px;
         column-gap: 5px;
    row-gap: 5px;
    grid-template-areas: "header" "nav" "section" "footer";
  }
  .sectionAccesorios {
    display: grid;
    grid-template-columns: repeat(auto);
    grid-template-rows: repeat(auto);
    border-style: double;
    border-color: lightblue;
    justify-content: center;
    text-align: center;
  }
  .sectionAccesorios {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
  }
  #asideAccesorios {
    color: black;
    background-color: lightblue;
    margin: 1px 1px 1px 1px;
    border-style: solid;
    border-color: black;
    text-align: center;
    font-family: fantasy;
  }
  .boxModelVenta {
    color: black;
    background-color: white;
    margin: 1px 1px 1px 1px;
    border-style: solid;
    border-color: lightblue;
    text-align: center;
    font-family: fantasy;
  }
  #asideAccesorios {
    display: none;
  }
}
@media screen and (min-width: 100px) and (max-width: 768px) {
  #maquinas {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 3% 5% auto 15%;
    -moz-column-gap: 5px;
         column-gap: 5px;
    row-gap: 5px;
    grid-template-areas: "header" "nav" "section" "footer";
  }
  .sectionMaquinas {
    display: grid;
    grid-template-columns: repeat(auto);
    grid-template-rows: repeat(auto);
    border-style: double;
    border-color: lightblue;
    justify-content: center;
    text-align: center;
  }
  .sectionMaquinas {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
  }
  #asideMaquinas {
    color: black;
    background-color: lightblue;
    margin: 1px 1px 1px 1px;
    border-style: solid;
    border-color: black;
    text-align: center;
    font-family: fantasy;
  }
  .boxModelMaquinas {
    color: black;
    background-color: white;
    margin: 1px 1px 1px 1px;
    border-style: solid;
    border-color: lightblue;
    text-align: center;
    font-family: fantasy;
  }
  #asideMaquinas {
    display: none;
  }
}
* {
  margin: 0px;
  padding: 0px;
}

/*MAPA*/
/* MIXIN*/
.logo {
  font-family: fantasy;
  color: black;
  font-size: large;
}

.navBar {
  font-family: fantasy;
  font-weight: bold;
  font-size: large;
  border: solid;
  border-color: black;
}

header {
  background-color: lightblue;
  border: solid;
  border: 1px;
  border-color: black;
  margin: 1px 1px 1px 1px;
}

.article {
  font-family: "Quicksand", sans-serif;
  color: black;
}

.article {
  background-color: white;
}

/*MAP-GET*/ /* MIXIN SIN PARÁMETROS*/
#imgHeader {
  height: 350px;
  width: 100%;
  border: lightblue;
  border-color: black;
  margin: 2px 2px 2px 2px;
}

.textDiv {
  border: double;
  border-color: black;
  background-color: lightblue;
}

#text1 {
  font-size: 3rem;
}

#text2 {
  font-size: 2rem;
}

.imgIphone {
  display: flex;
  align-items: stretch;
  height: 633px;
  width: 100%;
  border-style: double;
  border-color: black;
  margin: 2px 2px 2px 2px;
  padding: 2px 2px 2px 2px;
}

.boxModelTable {
  color: black;
  background-color: lightblue;
  width: 100%;
  height: 100px;
  margin: 15px, 15px, 15px, 15px;
  border-style: double;
  border-color: black;
  text-align: center;
  justify-content: center;
}

.tableMedio {
  border-style: double;
  border-width: 1px;
  border-color: black;
}

.tableEnvios {
  border-style: double;
  border-width: 1px;
  border-color: black;
}

.tableDevoluciones {
  border-style: double;
  border-width: 1px;
  border-color: black;
}

:root {
  --facebook: #3b5999;
  --instagram: #e4405f;
  --twitter: #55acee;
}

.redes {
  display: flex;
  align-items: left;
  justify-content: center;
}

.redes ul li {
  display: inline-block;
  margin: 0 5px;
  width: 50px;
  height: 55px;
  text-align: center;
}
.redes ul li a {
  display: block;
  padding: 0 10px;
  background: #333;
  color: #fff;
  line-height: 50px;
  font-size: 18px;
  box-shadow: 0 3px 5px 0px rgb(0, 0, 0);
  transition: 0.2s;
}

.redes ul:hover a {
  filter: blur(2px);
}

.redes ul li a:hover {
  transform: translateY(-3px) scale(1.05);
  box-shadow: 0 3px 5px 0px rgb(0, 0, 0);
  filter: none;
}

.redes ul li .facebook:hoover {
  background: var(--facebook);
}

.redes ul li .instagram:hoover {
  background: var(--instagram);
}

.redes ul li .twitter:hoover {
  background: var(--twitter);
}

.seguinos {
  margin: 5px 7px 9px 11px;
  border-style: solid;
  border-width: 2px;
  border-color: black;
  text-align: center;
  background-image: linear-gradient(to left, lightblue, white);
}

.formulario {
  margin: 5px 7px 9px 11px;
  border-style: solid;
  border-width: 2px;
  border-color: black;
  text-align: left;
  padding: 5px 10px 15px 20px;
}

.decoradoContacto {
  text-decoration: underline;
  -webkit-text-decoration-color: black;
          text-decoration-color: black;
  -webkit-text-decoration-style: double;
          text-decoration-style: double;
  font-weight: bold;
}

#imgContacto {
  height: 150px;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  border-style: solid;
  border-width: 2px;
  border-color: black;
}

.comprar {
  display: flexbox;
  text-decoration: none;
}

.imgVenta {
  height: 300px;
  width: 300px;
  color: black;
  background-color: white;
  margin: 3px 3px 3px 3px;
  padding: 3px 3px 3px 3px;
  border-style: solid;
  border-color: lightblue;
  text-align: center;
  background-color: lightblue;
  border: solid 1px;
}
.imgVenta hover {
  padding: 5px;
  transform: scale3d 25deg;
  transition: 0.2s;
  box-shadow: inset 0px 0px 10px;
}

.descripcion, .titulo {
  color: black;
  text-align: center;
  background-color: white;
  font-family: "Kanit", sans-serif;
}

/*EXTEND*/
.titulo {
  margin: 2px 2px 2px 2px;
  border-style: solid;
  border-color: lightblue;
  background-image: linear-gradient(to left, lightblue, white);
}

header {
  grid-area: header;
}

nav {
  grid-area: nav;
}

section {
  grid-area: section;
}

aside {
  grid-area: aside;
}

footer {
  grid-area: footer;
}

#reparacion, #accesorios, #maquinas {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 10% 10% auto 15%;
  -moz-column-gap: 5px;
       column-gap: 5px;
  row-gap: 5px;
  grid-template-areas: "header header" "nav nav" "aside section" "footer footer";
}

.sectionReparacion, .sectionAccesorios, .sectionMaquinas {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(4, auto);
  border-style: double;
  border-color: lightblue;
  text-align: center;
}

.sectionReparacion, .sectionAccesorios, .sectionMaquinas, .sectionIndex, .asideIndex, .sectionContacto {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}

.boxModelVenta {
  color: black;
  background-color: white;
  margin: 1px 1px 1px 1px;
  border-style: solid;
  border-color: lightblue;
  text-align: center;
}

#asideReparacion, #asideAccesorios, #asideMaquinas {
  color: black;
  background-color: lightblue;
  margin: 1px 1px 1px 1px;
  border-style: solid;
  border-color: black;
  text-align: center;
}

#index {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 5% 3% auto 20%;
  -moz-column-gap: 5px;
       column-gap: 5px;
  row-gap: 5px;
  grid-template-areas: "header header" "nav nav" "aside section" "footer footer";
}

.sectionIndex {
  display: grid;
  grid-template-columns: repeat auto;
  grid-template-rows: repeat(1, auto);
  border-style: solid;
  border-color: lightblue;
  text-align: center;
}

.asideIndex {
  color: black;
  background-color: lightblue;
  border-style: solid;
  border-color: black;
  text-align: black;
}

#contacto {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 10% 30% auto 15%;
  -moz-column-gap: 5px;
       column-gap: 5px;
  row-gap: 5px;
  grid-template-areas: "header" "nav" "section" "footer";
}

.sectionContacto {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  border-style: solid;
  border-color: lightblue;
  margin: 2px 2px 2px 2px;
  padding: 2px 2px 2px 2px;
}

@media screen and (min-width: 1200px) {
  #index {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 5% 30% auto 20%;
    -moz-column-gap: 5px;
         column-gap: 5px;
    row-gap: 5px;
    grid-template-areas: "header header" "nav nav" "aside section" "footer footer";
  }
  .sectionIndex {
    display: grid;
    grid-template-columns: repeat auto;
    grid-template-rows: repeat(1, auto);
    border-style: solid;
    border-color: lightblue;
    text-align: center;
  }
  .asideIndex {
    color: black;
    background-color: lightblue;
    border-style: solid;
    border-color: black;
    text-align: center;
  }
  .sectionIndex, .asideIndex {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  #asideIndex, .sectionIndex {
    display: block;
  }
}
@media screen and (min-width: 1200px) {
  #reparacion {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 5% 10% auto 15%;
    -moz-column-gap: 5px;
         column-gap: 5px;
    row-gap: 5px;
    grid-template-areas: "header header" "nav nav" "aside section" "footer footer";
  }
  .sectionReparacion {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(4, auto);
    border-style: double;
    border-color: lightblue;
    justify-content: center;
    text-align: center;
  }
  .sectionReparacion {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
  }
  .boxModelVenta {
    color: black;
    background-color: white;
    margin: 1px 1px 1px 1px;
    border-style: solid;
    border-color: lightblue;
    text-align: center;
    font-family: fantasy;
  }
  #asideReparacion {
    color: black;
    background-color: lightblue;
    margin: 1px 1px 1px 1px;
    border-style: solid;
    border-color: black;
    text-align: center;
    font-family: fantasy;
    padding: 2px 2px 2px 2px;
  }
  #asideReparacion {
    display: block;
  }
}
@media screen and (min-width: 1200px) {
  #accesorios {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 10% 10% auto 15%;
    -moz-column-gap: 5px;
         column-gap: 5px;
    row-gap: 5px;
    grid-template-areas: "header header" "nav nav" "aside section" "footer footer";
  }
  .sectionAccesorios {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(4, auto);
    border-style: double;
    border-color: lightblue;
    justify-content: center;
    text-align: center;
  }
  .sectionAccesorios {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
  }
  #asideAccesorios {
    color: black;
    background-color: lightblue;
    margin: 1px 1px 1px 1px;
    border-style: solid;
    border-color: black;
    text-align: center;
    font-family: fantasy;
  }
  .boxModelVenta {
    color: black;
    background-color: white;
    margin: 1px 1px 1px 1px;
    border-style: solid;
    border-color: lightblue;
    text-align: center;
    font-family: fantasy;
  }
  #asideAccesorios {
    display: block;
  }
}
@media screen and (min-width: 1200px) {
  #maquinas {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 5% 10% auto 15%;
    -moz-column-gap: 5px;
         column-gap: 5px;
    row-gap: 5px;
    grid-template-areas: "header header" "nav nav" "aside section" "footer footer";
  }
  .sectionMaquinas {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(4, auto);
    border-style: double;
    border-color: lightblue;
    justify-content: center;
    text-align: center;
  }
  .sectionMaquinas {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
  }
  #asideMaquinas {
    color: black;
    background-color: lightblue;
    margin: 1px 1px 1px 1px;
    border-style: solid;
    border-color: black;
    text-align: center;
    font-family: fantasy;
  }
  .boxModelVenta {
    color: black;
    background-color: white;
    margin: 1px 1px 1px 1px;
    border-style: solid;
    border-color: lightblue;
    text-align: center;
    font-family: fantasy;
  }
  #asideMaquinas {
    display: block;
  }
}/*# sourceMappingURL=styles.css.map */